<form>
  <label name='searchString'> Filter by magazine name: </label>
  <input name='searchString'>
  <input type='submit' value='Filter'>
</form>
<form>
  <input type='submit' value='Clear Filter'>
</form>
<ul>
{{#each magazineIndex}}
  <li class="mag-li">
    <a href='/magazine/{{_id}}'>
      <span class="wire-one"> {{magazinename}} </span><br>
      <span class="chathura"> {{coverTitle}} </span>
    </a>
  </li>
{{/each}}
</ul>
<a href='/magazine/new'> Add a new Magazine To the Index </a>
