<form action="/sec/login" method="POST">
  User Name: <input type="text" name="username" placeholder="User Name">
  Password:  <input type="password" name="password" placeholder="Password">
  <br><br>
  <input type="submit" value=" Login "><br><br>
</form>

<form action="/sec/signup" method="GET">
  Not registered yet?  Please
  <input type="submit" value=" Sign-Up ">, it's free.
</form>
