<form action="/sec/Login" method="POST">
  User Name: <input type="text" name="username" placeholder="User Name">
  Password:  <input type="password" name="password" placeholder="Password">
  <br><br>
  <input type="submit" value=" Login "><br><hr>
</form>
