<form action="/sec/signup" method="POST">
  User Name: <input type="text" name="username" placeholder="User Name">
  Password:  <input type="password" name="password" placeholder="Password">
  <br><br>
  What is your favorite book: <input type="text" name="favoriteBook"><br>
  What is your favorite color: <input type="text" name="favoriteColor">
  <br><br>
  <input type="submit" value=" Sign-Up ">
</form>
