<p>
  This is a magazine stack contents management application.  The purpose of the
  application is to provide information related to the articles published
  in an edition of a magazine.
</p>
<p>
  Select the menu for the index of magazine or the index of articles.
</p>
