<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='/css/main.css' rel='stylesheet'>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1> Magazine's Article Management </h1>
      <nav>
        <a href='/'> Home </a>
        <a href='/magazine'> Magazines Index </a>
        <!-- <a href='/article'> Articles Index </a>  future enhancement-->
        {{#if actualUser}}
          <form action="/sec/logout/?_method=DELETE" method="POST">
            Welcome, {{actualUser}}
            <input type="submit" value=" Logoff ">
          </form>
        {{/if}}
      </nav>
    </header>
    <div class='container'>
      {{{ body }}}
    </div>
    <footer>
    </footer>
  </body>
</html>
